.navbar {
    border-bottom: 1px solid blue;
}

.nav-link {
    color: black;
}

.navbar-brand img {
    width: 100px;
}

.title-image {
    width: 100%;
}

.logo-image {
    width: 80%;
    margin: 10px;
}

h2 {
    margin: 5px;
}

.card {
    width: 30%;
}

h1 {
    margin: 5px;
    font-family: Bahnschrift;
}

.prihlasenie-link:hover {
    font-weight: bold;
}

.ad-price:hover {
    color: red;
}
